* H1, h2, h3, h4, h5, h6, p {
    color: white;
}

@font-face {
    font-family: 'My_font';
    src: url('../assets/fonts/OpenSans.ttf') format('truetype');
}

body {
    font-family: 'My_font', Arial, sans-serif;
}